header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  color: #AF1917;
}
header a{
  text-decoration: none;
}

body {
  background: white;
  font-family: 'Raleway', sans-serif;
}
article {
   display: flex;
  flex-direction: column;
    min-height: 80vh;
    background: url("riviere.svg") top center no-repeat;
    background-size: cover;
}
aside {
  flex-basis: 320px;
}
ul {
  list-style-type: none;
}
a {
  color: rgb(10, 80, 150);
}

.regles {
  text-decoration: none;
  font-size: 1em;
}
.accueil{
  flex-direction: row;
  justify-content: center;
  display: flex;
  height: 10vh;
  padding-top: 6vh;
  font-size: 2em;
  text-decoration: none;
}

.etat li {
  width: 9vw;
  height: 14vw;
}

.bateau{
  height: 20vh;
  order: 1;
  justify-content: center;
}
.etat {
  display: flex;
  justify-content: space-between;
  /*border: 1px solid #000000;*/
  flex-grow: 1;
}

.rive-droite {
  display: flex;
  align-items: flex-end;
  order: 2;
}
.rive-gauche p{
  color: #AF1917;
  font-size: 3em;
  padding-left: 6vw;
  font-weight: bold;
}
.rive-gauche a{
  color: rgb(10, 80, 150);
  font-size: 2em;
  padding-left: 6vw;
  font-weight: bold;
  text-decoration: none;
}
img {
  width: 100%;
}
