header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
  color: #AF1917;
}
header a{
  text-decoration: none;
}

body {
  background: white;
  font-family: 'Raleway', sans-serif;
}
article {
   display: flex;
  flex-direction: column;
    min-height: 80vh;
    background: url("riviere.svg") top center no-repeat;
    background-size: cover;
}
aside {
  flex-basis: 320px;
}
ul {
  list-style-type: none;
}
a {
  color: rgb(10, 80, 150);
}

.regles {
  text-decoration: none;
  font-size: 1em;
}
.accueil{
  flex-direction: row;
  justify-content: center;
  display: flex;
  height: 10vh;
  padding-top: 6vh;
  font-size: 2em;
  text-decoration: none;
}

.etat li {
  width: 9vw;
  height: 14vw;
}

.bateau{
  height: 20vh;
  order: 1;
  justify-content: center;
}
.choix {
  background: white;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.choix li img {
  max-height: 5vh;
}

.choix ul {
  display: flex;
  /*background-color: white;*/
  padding-left: 0;
  width: 100%;
  justify-content: space-evenly;
}
.etat {
  display: flex;
  justify-content: space-between;
  /*border: 1px solid #000000;*/
  flex-grow: 1;
}
.rive-gauche {
  display: flex;
}
.rive-droite {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
}
.rive-droite p{
  color: rgb(10, 80, 150);
}
.rive-droite a{
  color: rgb(10, 80, 150);
}
img {
  width: 100%;
}
